* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-height: 100vh;
	background-image: linear-gradient(to bottom right, blanchedalmond, burlywood);
}

/* for centering and aligning content */
.main-content {
	max-width: 750px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

/* styling for content container divs */
.container {
	padding: 1rem;
	border-radius: 1rem;
	/* following styles in this class sourced from https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

}

/* the grid layout for the species container */
.species-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

/* the grid layout for the image container in the species container*/
.species-container img {
	width: 100%;
	grid-column: 2;
	grid-row: 1 / 6;
}

/* styling for my data table */
.styled-table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

}

.styled-table thead {
	background: rgba(255, 255, 255, 0.4);
}

.styled-table tbody {
	background: rgba(255, 255, 255, 0.2);
}

.styled-table th,
td {
	text-align: left;
	padding: 1rem;
}
