/* owen_plesko@student.uml.edu */

:root {
  --tile-height: 48px;
  --tile-width: 48px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: lightblue;
}

#board-wrapper {
  position: relative;
  padding: 4px;
  background-color: white;
}

#board {
  display: grid;
  grid-template-columns: repeat(15, var(--tile-width));
  grid-template-rows: repeat(15, var(--tile-height));
  gap: 4px;
  padding: 4px;
  border: 2px solid;
}

#hand {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, var(--tile-width));
  grid-template-rows: var(--tile-width);
  background-color: tan;
  border: 1px solid;
  padding: 8px;
  border-radius: 4px;
}

#hand .tile {
  cursor: grab;
}

#ledge {
  position: absolute;
  background-color: tan;
  border: 1px solid;
  border-radius: 4px;

  /* Cover the bottom of letter tiles */
  z-index: 10;
  /* Overhang the hand by 10 px on each side*/
  width: calc(100% + 16px);
  /* Center the overhang on x axis*/
  left: 50%;
  transform: translateX(-50%);

  height: 16px;
  bottom: -2px;
}

#hand .placeholder {
  width: var(--tile-width);
  height: var(--tile-height);
  border: 1px dashed;
  border-radius: 4px;
}

.tile {
  cursor: default;
  background-color: burlywood;
  height: var(--tile-height);
  width: var(--tile-width);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 4px;
}

.tile .letter {
  font-size: 32px;
}

.tile .points {
  position: absolute;
  bottom: 0;
  right: 2px;
}

.square {
  font-weight: bold;
  font-size: 12px;
  height: var(--tile-height);
  width: var(--tile-width);
  background-color: rgb(207, 193, 164);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.double-letter {
  background-color: rgb(184, 232, 249);
}

.triple-letter {
  background-color: rgb(92, 175, 242);
}

.double-word {
  background-color: rgb(232, 173, 179);
}

.triple-word {
  background-color: rgb(224, 104, 98);
}

.draggable-hover {
  border: 2px dashed;
}
